header{
	border-style:solid;
	border-top:black;
	border-left:black;
	border-right:black;
	border-radius:5px;
	border-width:2px;
}
form{
	display: flex;
	flex-direction: column;
}
img{
	width:200px;
	border-radius: 25%;
		padding: 10px;
		border-style: ridge;
		float: left;
		margin: 10px;
		border-width: 2px;
		height: 195px;
}
img.journeyman{
	border-color:#FFBC6C;
}
img.adept{
	border-color:#E8474E;
}
img.initiate{
	border-color:#3BE84F;
}
img.patron{
	border-color:#76FFF8; 
}
h1{
	text-align: center;
	font-size:50px;
	margin-bottom:-10px;
}
h2{
	text-align: center;
		border-style:solid;
		border-radius:5px;
		border-color:#1f2021;
		border-width:2px;
		padding: 2px;
}
h3{
	text-align:center;
	font-size:25px;
		margin-top:0px;
		padding: 2px;
}
h4{
		text-decoration:underline;
}
form{
	border-style: solid;
	border-color: white;
}
form .about{
	width: 200px;
}
.main-navigation{
	text-align:center;
	color:#595b5e;
	font-size:5px;
	color:#868686;
	margin-top:20px;
	padding: 5px 5px 5px 5px;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	margin-bottom: 15px;
}
a{
	color:#868686;
	text-decoration:none;
	padding: 5px;
	font-size: 25px;
	background-color: #2f2c2cba;
	border-radius: 10px;
	border-style: solid;
	border-width: thin;
}
body{
	background-color:#2e2f30;
	color:#868686;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	font-weight:500;
	max-width: 1080px;
	margin: 0 auto !important;
	float: none !important;
}
.container{
	width: 300px;
		padding: 40px;
		position: absolute;
		top: 50%;
		left: 50%;
	transform: translate(-50%,-50%);
	background: #191919;
		text-align: center;
}
span{
	text-align: center;
	font-size:50px;
	margin-bottom:0px;
	display: inline;
}
span.arcanium{
	color:#FF8377;
}
span.arcanium2{
	color: #5982E0;
}
span.arcanium3{
	color:#5EF2D4;
}
h2.application{
	text-align: center;
	margin-bottom: 5px;
}
.container{
	display: flex;
	background-color: #222223;
	padding: 2px;
}
div{
	display: inline-block;
}
a.indexcolor:hover{
	color: #FF8377;
}

a.academycolor:hover{
	color:	#F9E39A;
}

a.rostercolor:hover{
	color: #5EF2D4;
}

a.hirecolor:hover{
	color: #5982E0;
}

a.joinuscolor:hover{
	color: #2D4072;
}
a.join:hover{
	color: #FF8377;
}
h2.hireborder{
	border-color:#1CE872;
}
h2.rosterborder{
	border-color: #e85b63a8;
	margin-top: 30px;
}
h2.theacademy{
	border-color:#794DE8;
}
h2.patronborder{
	border-color:#76FFF8; 
}
h2.softdev{
	border-color: #4583e8ab;
}
h2.mother{
	border-color:#794de8c4;
}
h2.arcanium4{
	border-color:#EA8239;
}
h3.initiate{
	color:#3BE84F;
}
h3.apprentice{
	color:#E86039;
}
h3.adept{
	color:#E8474E;
}
h3.journeyman{
	color:#FFBC6C;
}
h4.green-color{
	color:#3BE84F;
}
h4.orange-color{
	color:#E86039;
}
h4.red-color{
	color:#E8474E;
}
p{
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	line-height: 21px;
}
p.initiate{
		color:#3BE84F;
		position: relative;
		left:39px;
		top: 15px;
}
p.grimmly{
	color:#E8474E;
	position:relative;
		left: 12px;
		top: 15px;
 }
p.adept{
	color:#E8474E;
	position:relative;
		left: 51px;
		top: 15px;
}
p.nickadept{
	color:#E8474E;
	position:relative;
		left: 70px;
		top: 15px;
}
p.journeyman{
		color: #FFBC6C;
		position: relative;
		left:33px;
		top: 15px;
}
p.patron{
	position: relative;
		left: 75px;
	color: #76FFF8;
	top: 15px;
}
p.edit{
	font-size: 21px;
		position: relative;
		top: 10px;
		line-height: 33px;
		margin-top: 10px;
}
