header{
	border-style:solid;
	border-top:black;
	border-left:black;
	border-right:black;
	border-radius:5px;
	border-width:2px;
}
form{
	display: flex;
	flex-direction: column;
}
h1{
	text-align: center;
	font-size:50px;
	margin-bottom:-10px;
}
h2{
	text-align: center;
    border-style:solid;
    border-radius:5px;
    border-color:#1f2021;
    border-width:2px;
    padding: 2px;
}
h3{
	text-align:center;
	font-size:25px;
    margin-top:0px;
    padding: 2px;
}
h4{
    text-decoration:underline;
}
form{
	border-style: solid;
	border-color: white;
}
form .about{
	width: 200px;
}
.box{
  width: 600px;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #3f4042;
  text-align: center;
  border-radius: 5px;
  margin-top: 175px;
 border-color: #868686;
}
.box input[type = "text"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #222222;
  font-size: 17px;
  padding: 14px 10px;
  width: 335px;
  outline: none;
  color: white;
  border-radius: 10px;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #24E861;
  padding: 14px 40px;
  outline: none;
  color: #868686;
  border-radius: 5px;
  cursor: pointer;
  font-size: inherit;
}
.main-navigation{
	text-align:center;
	color:#595b5e;
	font-size:35px;
	color:#868686;
	margin-top:10px;
	padding: 5px 5px 5px 5px;
	font-family: sans-serif;
	margin-bottom: 15px;
}
a{
  color:#868686;
  text-decoration:none;
  border-style:solid;
  border-radius:5px;
  border-width:2px;
  padding: 5px;
}
a:hover{
	background-color:#3a3b3d;
}
body{
	background-color:#2e2f30;
	color:#868686;
	font-family:sans-serif;
	font-weight:500;
	max-width: 1080px;
	margin: 0 auto !important;
	float: none !important;
}
.container{
	width: 300px;
  	padding: 40px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
	transform: translate(-50%,-50%);
	background: #191919;
  	text-align: center;
}
span.arcanium{
	color:#4583E8;
	display: inline;
	text-align: center;
	font-size:50px;
	margin-bottom:0px;
}
span.arcanium2{
	color: #E85B63;
	text-align: center;
	font-size:50px;
	margin-bottom:0px;
	display: inline;
}
span.arcanium3{
	color:#1CE872;
	text-align: center;
	font-size:50px;
	margin-bottom:0px;
	display: inline;
}
h2.application{
	text-align: center;
	margin-bottom: 5px;
}
.container{
	display: flex;
	background-color: #222223;
	padding: 2px;
}
a.indexcolor{
	border-color: #4583E8;
}
a.academycolor{
	border-color: #794DE8;
}
a.rostercolor{
	border-color: #E85B63;
}
a.hirecolor{
	border-color: #1CE872;
}
a.joinuscolor{
	border-color: #EA8239;
}
a.join{
	border-color: #4583E8;
}
h2.hireborder{
	border-color:#1CE872;
}
h2.rosterborder{
	border-color: #e85b63a8;
}
h2.theacademy{
	border-color:#794DE8;
}
h2.patronborder{
	border-color: 
}
h2.softdev{
	border-color: #4583e8ab;
}
h2.mother{
	border-color:#794de8c4;
}
h2.arcanium4{
	border-color:#EA8239;
}
h3.initiate{
	color:#3BE84F;
}
h3.apprentice{
	color:#E86039;
}
h3.adept{
	color:#E8474E;
}
h3.journeyman{
	color:#FFBC6C;
}
h4.green-color{
	color:#3BE84F;
}
h4.orange-color{
	color:#E86039;
}
h4.red-color{
	color:#E8474E;
}
p.initiate{
    color:#3BE84F;
}
p.adept{
	color:#E8474E;
}
p.journeyman{
	color:#FFBC6C;
}
p.patron{
	color: #76FFF8;
}


