.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects a {
  margin-top: 40px;
}

.projects .left {
  margin-right: 150px;
}

.projects .right {
  margin-left: 150px;
}

.cta-button {
  margin: 150px;
  font-size: 50px;
  width: auto;
  justify-self: flex-end;
  color: #EA8988;
}

.cta-icon {
  background: linear-gradient(to right, #90CAFD 0%, #50A99B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 250px;
}

.intro>.services {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.intro>.services>.fullstack {
  color: #f4fc94;
  background: -webkit-linear-gradient(180deg, #f4fc94, #fce29a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro>.services>.cloud {
  color: #f4fc94;
  background: -webkit-linear-gradient(180deg, #fff, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro>.services>.mobile {
  color: #f4fc94;
  background: -webkit-linear-gradient(180deg, #90CAFD, #90CAFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section .page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: calc(100vh);
  width: 100%;
}

section .intro {
  min-height: calc(100vh - 112px);
}


.services--service {
  background: #2e2f30;
  width: calc(33% - 20px);
  height: calc(100% - 20px);
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.services--service img:hover {
  /* on hover - scale to this x,y size */
  transform: scale(1.05,0.15);
  /* property values: name, duration, iteration, timing-function */
  animation: jiggle 0.5s infinite linear;
}

@keyframes transparentize {
  0%   { opacity: 1; }
  100% { opacity: 0.25; }
}

@keyframes jiggle {
  /* start at 0deg and this scale size.
     scale size is repeated here to maintain smooth scaling */
  0% {transform: rotate(0deg) scale(1.15,1.15);}
  /* midway rotate 2deg right */
  50% {transform: rotate(2deg) scale(1.15,1.15);}
  /* end rotate -2deg left */
  100% {transform: rotate(-2deg) scale(1.15,1.15)}
}

.services--service img {
  opacity: 0.8;
  width: 80%;
  height: auto;
}

.top-container{
  width: 100%;
  display: flex;
}
.logo {
  width: 305px;
  height: 80px;
  justify-self: flex-start;
}
.main-navigation{
  margin-left: auto;
  justify-self: flex-end;
  align-self: center;
  display: flex;
  align-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-container>div {
  margin-bottom: 100px;
}

.footer-container {
  display: flex;
  margin-top: 100px;
  justify-content: space-around;
}

.leadership {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.leadership>.leadership--container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leadership>.leadership--container>a>p {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.leadership>.leadership--container>a>p>a>img {
  width: 20px;
  height: 15px;
}
.leadership>.leadership--container>a>img {
  align-self: center;
  width: auto;
  height: 200px;
  margin-bottom: 5px;
  margin-top: 40px;
}

.leadership>.leadership--container p {
  padding: 0px;
  margin: 0px;
  font-weight: 700;
}


h1{
  text-align: center;
  font-size:80px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 72px;
  color: #90cafd;
}

.stack {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  text-align: center;
}
h3{
  text-align:center;
  margin-top:0px;
  padding: 2px;
}
h4 {
  color: #90cafd;
}
form{
  border-color: white;
}
form .about{
  width: 200px;
}
a {
  color: #90cafd;
  text-decoration:none;
  font-weight: 700;
}
nav a {
  padding: 5px;
  font-size: 16px;
  margin: 3px;
  color:#d8d8d8;
}

.container{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
span{
  text-align: center;
  font-size:50px;
  margin-bottom:0px;
  display: inline;
}
span.arcanium{
  color:#FD8686;
}
span.arcanium2{
  color: #5982E0;
}
span.arcanium3{
  color:#5EF2D4;
}
h2.application{
  text-align: center;
  margin-bottom: 5px;
}
.container{
  display: flex;
  background-color: #222223;
  padding: 2px;
}
div{
  display: inline-block;
}
a:hover{
  color: #cfe4ff;
}

a.join{
  padding: 0;
  background: none;
}
p.initiate{
    color:#3BE84F;
    position: relative;
    left:39px;
    top: 15px;
}
p.grimmly{
  color:#E8474E;
  position:relative;
    left: 12px;
    top: 15px;
 }
p.adept{
  color:#E8474E;
  position:relative;
    left: 51px;
    top: 15px;
}
p.nickadept{
  color:#E8474E;
  position:relative;
    left: 62px;
    top: 15px;
}
p.journeyman{
    color: #FFBC6C;
    position: relative;
    left:33px;
    top: 15px;
}
p.patron{
  position: relative;
    left: 75px;
  color: #76FFF8;
  top: 15px;
}
p.edit{
  font-size: 21px;
  position: relative;
  top: 10px;
  margin-top: 10px;
}

.cta .email {
  font-size: 30px;
  color: #f4fc94;
}

.cta {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

.site-wrapper::before {
  background-color:#2e2f30;
  background-image: url('images/carbon2.png');
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  z-index: -1;
}
html {
  scroll-behavior: smooth;
}

.site-wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 25px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.7;

  background-image: url('images/axiom-pattern.png');
}


body{
  background: #000;
  color:#d8d8d8;
  font-family: 'Muli', sans-serif;
  font-weight:500;
  font-size: 26px;
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
  height: 100%;
}


footer {
  width: 100%;
  font-size: 12px;
}
